.main-container{
    display: flex;
}
#main-image{
    max-width: 50%;
    border-radius: 1rem;
    margin-right: 2rem;
    border: 2px solid #8DECB4;
}

#info{
    display: inline-block;
}

.info p{
    font-size: 1.4rem;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #141E46;
}



#img-wrapper{
    margin-top: 3rem;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.2rem;
}

.image-item {
    text-align: center;
}
  
.image-item img {
    width: 100%;
    height: 50vh;
    border-radius: 0.5rem;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #8DECB4;

}

  
.image-item p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}