<div class="wrapper">
    <div class="main-container">
        <img [src]="org?.logo" id="main-image" />
        <div class="info">
            <div>
                <p><b>{{org?.naziv}}</b></p>
                <p>Godina osnivanja: {{org?.godinaOsnivanja}}</p>
                <p>{{org?.adresa}}</p><br><br>
                <hr>
            </div>
            <div>
                <p><b>Kontakt:</b></p>
                <p>{{org?.kontaktTelefon}}</p>
                <p id="mail">{{org?.email}}</p>
            </div>
        </div>
    </div>  

    <h2>-Festivali-</h2>
    <hr>
    <div class="image-grid">
        <div *ngFor="let fest of festivals" class="image-item">     
          <img [src]="fest.slike[0]" alt="{{ fest.naziv }}" (click)="imageClick(fest.id)">
          <p>{{ fest.naziv }}</p>
        </div>
    </div>
</div>