<div class="wrapper">
    <div id="selector">
        <label for="organizer">Korisnici: </label>
        <select name="organizer" id="name" [(ngModel)]="selectedUserId" (change)="onUserSelect($event)">
                <option *ngFor="let u of users" value={{u.id}}> {{u.korisnickoIme}}</option>
        </select>
        <img src="../../assets/icons8-trash-30.png" id="trash">
    </div>
    <hr>
    <div class="main-container">
        <div class="info">
        
                <div class="row">
                    <label for="kime">Korisničko ime: </label>
                    <input type="text" name="kime" id="kime" value={{selectedUser?.korisnickoIme}}>
                </div>

                <div class="row">
                    <label for="ime">Ime:</label>
                    <input type="text" name="ime" id="ime" value={{selectedUser?.ime}}>
                </div>

                <div class="row">
                    <label for="prezime">Prezime: </label>
                    <input type="text" name="prezime" id="prezime" value={{selectedUser?.prezime}}>
                </div>

                <div class="row">
                    <label for="lozinka">Lozinka:</label>
                    <input type="password" name="lozinka" id="lozinka" value={{selectedUser?.lozinka}}>
                </div>

                <div class="row">
                    <label for="telefon">Telefon: </label>
                    <input type="text" name="telefon" id="telefon" value={{selectedUser?.telefon}}>
                </div>

                <div class="row">
                    <label for="mail">Email: </label>
                    <input type="email" name="mail" id="mail" value={{selectedUser?.email}}>
                </div>

                <div class="row">
                    <label for="zanimanje">Zanimanje: </label>
                    <input type="text" name="zanimanje" id="zanimanje" value={{selectedUser?.zanimanje}}>
                </div>

                <div class="row">
                    <label for="adresa">Adresa:</label>
                    <input type="text" name="adresa" id="adresa" value={{selectedUser?.adresa}}>
                </div>

                <div class="row">
                    <label for="datum">Darum rođenja: </label>
                    <input type="date" name="datum" id="datum" value={{selectedUser?.datumRodjenja}}>
                </div>

                <button id="dugme">Update</button>
    
        </div>
    </div>  
</div>
