<div class="wrapper">
    <div id="selector">
        <label for="organizer">Korisnici: </label>
        <select name="organizer" id="name" [(ngModel)]="selectedUserId" (change)="onUserSelect($event)">
                <option *ngFor="let u of users" value={{u.id}}> {{u.korisnickoIme}}</option>
        </select>
        <img src="../../assets/icons8-trash-30.png" id="trash" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </div>
    <hr>
    <div class="main-container">
        <div class="info">
                <div class="row">
                    <label class="correct-lab" for="kime">Korisničko ime: </label>
                    <input class="move-up" type="text" name="kime" id="kime" value={{selectedUser?.korisnickoIme}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="ime">Ime:</label>
                    <input class="move-up" type="text" name="ime" id="ime" value={{selectedUser?.ime}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="prezime">Prezime: </label>
                    <input class="move-up" type="text" name="prezime" id="prezime" value={{selectedUser?.prezime}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="lozinka">Lozinka:</label>
                    <input class="move-up" type="password" name="lozinka" id="lozinka" value={{selectedUser?.lozinka}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="telefon">Telefon: </label>
                    <input class="move-up" type="text" name="telefon" id="telefon" value={{selectedUser?.telefon}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="mail">Email: </label>
                    <input class="move-up" type="email" name="mail" id="mail" value={{selectedUser?.email}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="zanimanje">Zanimanje: </label>
                    <input class="move-up" type="text" name="zanimanje" id="zanimanje" value={{selectedUser?.zanimanje}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="adresa">Adresa:</label>
                    <input class="move-up" type="text" name="adresa" id="adresa" value={{selectedUser?.adresa}}>
                </div>

                <div class="row">
                    <label class="correct-lab"  for="datum">Darum rođenja: </label>
                    <input class="move-up" type="date" name="datum" id="datum" value={{selectedUser?.datumRodjenja}}>
                </div>

                <button id="dugme" data-bs-toggle="modal" data-bs-target="#exampleModal">Ažuriraj</button>
        </div>
    </div>  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong>Da li ste sigurni?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary custom-btn-2">Nazad</button>
          <button type="button" class="btn btn-primary custom-btn">Da</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
