#home{
    display: flex;
    justify-content: space-between;
    background-color: #141E46;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    align-items: center;
    border: 2px solid #8DECB4;
    border-top: 0px;
}

#logo{
    display: flex; 
    margin: 1rem;
    align-items: center;
}

#logo a{
    margin-left: 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: #FFF5E0;
}

#nav_list{
    display: flex;
}

.nav-list-item{
    display: inline-block;
    margin-right: 2rem;
    width: 4rem;
    height: 2rem;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}


.nav-list-item a{
    color: #FFF5E0;
    text-decoration: none;
    font-weight: bold;
}

.nav-list-item a:hover{
    color: #8DECB4;
    font-size: 1.2rem;
    text-decoration: underline;
}

.button{
    background: none;
    border: none;
    color: #FFF5E0; 
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    color: #8DECB4;
    font-size: 1.2rem;
    text-decoration: underline;
}

.row{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.input-f{
    width: 80%;
}

.modal-body{
    display: flex;
    justify-content: center;
}

.correct-lab{
    display: contents;

}

.custom-btn{
    background-color: #141E46;
}

.modal-header{
    background-color: #8DECB4;
}

.modal-footer{
    background-color: #8DECB4;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .nav-list-item{
        display: none;
    }

    #logo a{
        font-size: 1rem;
        display: block;
    }

    #logo{
        align-items: center;
    }
}