<div class="wrapper" id="home">
    <div id="logo">
        <a href=""><img  id="logoImg" src="../../favicon.ico"></a>
        <a href="" id="logoTxt">One For All</a>
    </div>
    <div id="menu">
        <nav>
            <ul id="nav-list">
                <li class="nav-list-item">
                    <a href="">Home</a>
                </li>
                <li class="nav-list-item">
                    <a href="">Contact</a>
                </li>
                <li class="nav-list-item">
                    <a href="">Admin</a>
                </li>
            </ul>
        </nav>
    </div>
</div>