<div class="wrapper" id="home">
    <div id="logo">
        <a href=""><img  id="logoImg" src="../../assets/icons8-musketeer-64.png"></a>
        <a href="" id="logoTxt">Jedan Za Sve</a>
    </div>
    <div id="menu">
        <nav>
            <ul id="nav-list">
                <li class="nav-list-item">
                    <a href="">Početna</a>
                </li>
                <li class="nav-list-item">
                    <a href="">Kontakt</a>
                </li>
                <li class="nav-list-item">
                    <a href="admin-org">Festivali</a>
                </li>
                <li class="nav-list-item">
                    <a href="admin-user">Korisnici</a>
                </li>
            </ul>
        </nav>
    </div>
</div>