<div class="wrapper">
    <div class="main-container">
        <h1>-{{fest?.naziv}}-</h1>
        <hr>
        <div class="info">
            <div class="info-col col1">
                <p><b>Tip:</b> {{fest?.tip}}</p><br>
                <p><b>Prevoz:</b> {{fest?.prevoz}}</p><br>
                <div id="cena">
                    <p><b>Cena:</b></p>
                    <p id="iznos">{{fest?.cena}}</p>
                </div>
            </div>
            <div class="info-col">
                <p id="opis">{{fest?.opis}}</p>
            </div>
        </div>
        <hr>
        <div class="image-grid">
            <div *ngFor="let image of fest?.slike" class="image-item">     
              <img [src]="image">
            </div>
        </div>
    </div>  
</div>
